*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222; 
    color:#ffffff
}

.login-form{
    color: #ffffff;
  
    height: 100vh; 
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:10px
}
.taskbaord-main{
    height: 100vh;
    width: 100%;
    color: #ffffff;
   
    display: flex;
    padding: 10px;
    gap:1vw
}

.sidebar{
    padding-top: 10vh;
    padding-left: 2vw;
    padding-right: 3vw;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.navItem{
    text-decoration: none;
    font-size: 3vw;
    
}
.navItem:hover{
    color:#c8abab;

}
.navItem:active{
      color:#c8abab;
}
.sidebar-heading{
    color: rgb(190, 170, 170);
    font-size: x-large;
}

.assignForm{
width: 80vw;
padding: 0 5vw;
gap: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.assignForm input{
   height: 5vh;
width: 100%;
}
.assignForm button{
    width: 100%;
    height: 5vh;
    border:1px solid white;
    border-radius: 10px;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 6px;
}

.task-content {
  flex: 1;
}

.task-actions {
  display: flex;
  gap: 8px;
}

.task-actions button {
  padding: 6px 12px;
  cursor: pointer;
}
.task-done{
  text-decoration: line-through;
}

.btn{
  width: 100%; 
  height: 5vh;
  border-radius: 10px;
  background-color: #27a8dfe8;
}